.text__animation{
    font-family: 'Lato';
    font-weight: 700px;
    font-size: 18px;
    color: #FFF;
    animation: moving 2s infinite;
    position: absolute;
    top: 25%;
    right: 15px;
}
@keyframes moving {
    0%{
        opacity: 0;
        scale: 0;
    }
    25%{
        opacity: .5;
        scale: 0.5;
    }
    50%{
        opacity: .7;
        scale: 1;
    }
    75%{
        opacity: .8;
        scale: 1.2;
    }
    100%{
        opacity: 1;
        scale: 2;
        right: 45px;
    }
}
.holder{
    margin: 30px;
}
.flex__container{
    display: flex;
    gap: 20px;
    position: relative;
    text-align: center;
}
.big__text{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lato';
    line-height: 20px;
    margin: 20px;
}
.image{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 42%;
}
.footer{
    margin: 10px 0 5px 0;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    background-color: #242732;
    height: 200px;
}
.footer__content{
    display: flex;
    flex-direction: column;
}